{% extends "main/base.html" %}

{% load staticfiles %}

{% block caruosel %}
<h1 class="brandHeader">Годы публикации дайджеста</h1>
<div class="content" style="margin-top:0px;min-height:100%; margin-bottom:0px;">
    <div class="offset1" style="width:85%">
        <div class="row">
            <div class="col-md-15 offset4 publication">
                <div class="row div_didjests_size" style="margin-top:20px">
                    <a href="/Didjest_theme/"><div class = "col-md-7 btn btn-info div_didjests_size">Назад</div></a>
                </div>
                {% for i in didjest_year %}
                    <div class="row div_didjests_size" style="margin-top:20px">
                        <a href="/didjest_list/{{i.pk}}/"><div class = "col-md-7 btn btn-info div_didjests_size">{{i.year}}</div></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock caruosel %}

