{% extends "main/base.html" %}

{% load staticfiles %}

{% block caruosel %}
<h1 class="brandHeader">Опубликованные дайджесты</h1>
<div class="content" style="margin-top:0px;min-height:100%; margin-bottom:0px;">
    <div class="offset1" style="width:85%">
        <div class="row">
            <div class="col-md-15 offset4 publication">
                <div class="row" style="margin-top:20px">
                    <a href="/Didjest_theme/{{ prew }}"><div class = "col-md-7 btn btn-info">Назад</div></a>
                </div>
                {% for didjest in didjests %}
                <div class="row" style="margin-top:20px">
                    <a href="/media/{{didjest.file}}"><div class = "col-md-7 btn btn-info">{{didjest.name}}</div></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock caruosel %}

