{% extends "main/base.html" %}

{% block title %} {{ bmstu.title }} {% endblock title %}

{% block caruosel %}
<div class='blog brandHeader'>
		<h1 class="brandHeader">{{ bmstu.title }}</h1>
      <a href="http://www.bmstu.ru/"><h2>Вы можете посетить официальный сайт МГТУ</h2> </a>

		<hr>
</div>	
<div class='row'>			
	<div class="thumbnail" >
		<img alt="{{ bmstu.photo.Caption }}"  src="{{ bmstu.photo.get_carouselsize_url }}">
	</div>				
</div>
			
	
{% endblock caruosel%}

		
{% block hello %}
  <div class="row brand">
      <h1 class="brandHeader">{{ bmstu.history_title }}</h1>
        <div class="col-lg-7 col-md-5 col-sm-18 col-xs-18 col-xs-offset-2 thumbnail">
					<img alt="..." src="{{ bmstu.history_photo.get_blogsize_url }}">
        </div>
        <div class="col-lg-11 col-md-13 col-sm-20 ">
          {% autoescape off %}<p> {{ bmstu.history_text }}<p>{% endautoescape %}<hr>
        </div>
    </div>

    <div class="row brand">
      <h1 class="brandHeader">{{ bmstu.facts_title }}</h1>
        <div class="col-lg-7 col-md-5 col-sm-18 col-xs-18 col-xs-offset-2 thumbnail">
					<img alt="..." src="{{ bmstu.facts_photo.get_blogsize_url }}">
        </div>
        <div class="col-lg-11 col-md-13 col-sm-20">
          {% autoescape off %}<p> {{ bmstu.facts_text }}<p>{% endautoescape %}<hr>
        </div>
    </div>
{% endblock hello %}

{% block parts %}
  <div class="row brand "> 
    <h1 class="brandHeader">{{ bmstu.tradition_title }}</h1>
    <div class="row">
      <div class="col-lg-7 col-md-5 col-sm-18 col-xs-18 col-xs-offset-2 thumbnail">
          <img alt="..." src="{{ bmstu.tradition_photo.get_blogsize_url }}">
        </div>
        <div class="col-lg-11 col-md-13 col-sm-20">
          {% autoescape off %}<p> {{ bmstu.tradition_text }}<p>{% endautoescape %}<hr>
        </div>
    </div> 
{% endblock parts %}

{% block gallery %}


{% endblock gallery %}





