{% extends "main/base.html" %}

{% load staticfiles %}

{% block caruosel %}
<script type="text/javascript">
	$(document).ready (function() {
        	var img_height = $('.background_img').height();
		if (img_height==1){
			img_height = $(window).width()/1.6;
		}
		$('.header').css("height", img_height);
	});
	$(window).resize(function() {
		var img_height = $('.background_img').height();
		$('.header').css("height", img_height);
	});
</script>
<div class="row header">
	<div style = "position:absolute;" class="head_back col-xs-20">
		<img class="col-xs-20 background_img" src="{%static 'main/img/background.jpg'%}">
	</div>
	<div class="col-md-7 hotbut">
	    <li class="it"><a href="http://www.bmstu.ru/mstu/undergraduate/schedule/">Расписание</a></li>
	    <li class="it"><a href="#">Заказать справку</a></li>
    </div>
	<div class = "logo col-xs-3 offset5">
		<img class="col-xs-20 background_img" src="{%static 'main/img/Sm_log_bright.png'%}">
	</div>
</div>
<!-- вариант с узким хедерм -->
<!--<div class="row logo">
    <div class="col-md-6">
	<div class="space"></div>
	<div class="logo col-md-20">
	   <a href="http://www.bmstu.ru/"> <img src="{%static 'main/img/Gerb_MGTU_imeni_Baumana.png'%}" alt=""></a>
	</div>
        <div class="col-md-20 hotbut">
	    <li class="it"><a href="http://www.bmstu.ru/mstu/undergraduate/schedule/">Расписание</a></li>
	    <li class="it"><a href="#">Заказать справку</a></li>
        </div>
    </div>
    <div class="header col-md-14">
    </div>
</div> -->
<!-- старый вариант  -->
<!-- <div class="row hidden-sm hidden-xs">
      <div id="myCarousel" class="carousel slide" data-ride="carousel"  align="center"> -->
      <!-- ./ Indicators -->
<!--     <ol class="carousel-indicators">
        {% for v in newsList %}
          <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 = 0 %} class="active" {% endif %}></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
       {% for v in gallery %}
            <div class="item {% if forloop.counter0 = 0 %} active {% endif %}">
              <img src="{{ v.get_carouselsize_url }}" alt="{{ v.title }}" width='100%'>
              <div class="container">
                <div class="carousel-caption">
                  <h1>{{ v.title }}</h1>
                  {% autoescape off %}
                    <p> {{ v.caption }}</p>
                  {% endautoescape %}
                </div>
              </div>
            </div>
        {% endfor %}
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div> -->
    <!-- /.carousel -->
   <!--  </div> -->
{% endblock caruosel %}


{% block hello %}   
    <div class="row brand" style="background-color:white">
      <h1 class="brandHeader">НАУЧНО-УЧЕБНЫЙ  КОМПЛЕКС  "СПЕЦИАЛЬНОЕ  МАШИНОСТРОЕНИЕ"</h1>
        <!-- <div class="col-lg-9 col-md-8 hidden-xs hidden-sm thumbnail" style="padding-left: 10%;">
					<img alt="..." src="{{ memorandum.photo.get_blogsize_url }}">
        </div>
        <div class="col-lg-11 col-md-12 col-sm-20">
          {% autoescape off %}<p> {{ memorandum.description }}<p>{% endautoescape %}-->
          <div class="col-md-16 hidden-xs hidden-sm thumbnail" style="margin-left:10%">
	  	<img alt="..." style="float-left;  margin-right: 2%; margin-bottom: 2%;" class="col-md-7 clo-lg-9"  src="{{ memorandum.photo.get_blogsize_url }}">
		{% autoescape off %}<p> {{ memorandum.description }}<p>{% endautoescape %}
	  </div>
	  <!-- <p align="center"><a class="btn btn-lg btn-default" href={% url 'main:article' 'memorandum' %}>Читать далее</a></p> -->
        <!--</div>-->
<!--<hr>-->
    </div>
    <ul class="navl col-md-16 offset1">

        <li><a href="/facultat/">факультет </a></li>

        <li><a href="http://www.niism.bmstu.ru/">НИИ СМ</a></li>

        <li><a href="#">НПЦ СМ</a></li>

   </ul>

{% endblock hello %}

{% block parts %} 
	<div class="space"></div>
	<div class="content">
		<div class="contr offset1" style="width:85%">
			<h1 class="brandHeader">Молодежные проекты</h1>	
			<div class="row">	
			{%for i in youth%}
				<div class="item">
					<a href="#"><img class="col-md-7" src="{{i.photo.get_blogsize_url}}" alt=""></a>
					<div class=" col-md-11 contr_text">
						<a href="{{i.link}}"><h2 class="brandHeader">{{i.title}}</h2></a>
						<p>{{i.content}}</p>
<!--						<a href="{{i.link}}" class="more">ссылка на подробности</a>-->
					</div>
				</div>
			{%endfor%}
      			</div>
		</div>
	

   <!-- <div class="row">
      {% for v in 1departmentsList %}
        <div class="col-lg-5 col-md-10 col-sm-10" >
          <div class="thumbnail" >
            <img alt="{{ v.photo.Caption }}"  src="{{ v.photo.get_gallerysize_url }}">
            <div class="caption">
              <a herf="{% url 'main:department' v.short_name %}"><h3 class="blue-row">{{ v.name }}</h3></a>
              <p> {{ v.description }}</p>
            </div>
          </div>
        </div>
        {% if forloop.counter0 = 1 %} <div class="clearfix visible-sm visible-md"></div> {% endif %}
        {% if forloop.counter0 = 3 %} <div class="clearfix visible-lg"></div> {% endif %}
      {% endfor %}
    </div> -->     

{% endblock parts %} 	

{% block gallery %} 
<!--
  {% if 1projectsList%}

    <div class="container">
      <div class="brand">
        <div class="container-fluid">
          <h1 class="brandHeader">Проекты</h1> 
          <h2><a class="btn btn-lg btn-default" href="{% url 'main:projectList'%}" role="button">Посмотреть все проекты</a></h2>
        </div>
      </div>
      {% for v in projectsList%}
        <div class="row">
          <hr>
          <div class="col-lg-7 col-md-5 col-sm-10 thumbnail">
            <a href={% url 'main:article' v.short_name %}><img alt="{{ v.photo.description }}" src="{{ v.photo.get_gallerysize_url }}" %}></a> 
          </div>
          <div class="col-lg-13 col-md-14 col-sm-10 col-xs-15">
            <h1>{{ v.name }}</h1>
            {% autoescape off %}
              <p> {{ v.description }}</p>
            {% endautoescape %}
            <a href={% url 'main:project' v.short_name %} class="btn btn-info" role="button">Узнать больше</a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
-->


                <div class="contr offset1" style="width:85%">
                       <h1 class="brandHeader">ОБЩЕСТВЕННЫЕ ОРГАНИЗАЦИИ  ФАКУЛЬТЕТА</h1>
                        <div class="row">
                                 {% for i in partner %}
				 <div class="item">
                                        <img class="col-md-7" src="{{i.photo.get_blogsize_url}}">
                                        <div class=" col-md-11 contr_text">
                                                <h2 class="brandHeader">{{i.title}}</h2>
                                                <p>{{i.content}}</p>
                                                <a href="{{i.link}}" class="more">перейти на сайт</a>
                                        </div>
                                </div>
				{%endfor%}
                        </div>
                </div>
        </div>



{% endblock gallery %}
