{% extends "main/base.html" %}

{% load staticfiles %}

{% block title %} {{ department.name }} {% endblock title %}

{% block caruosel %}    
		<div class='row'>
			<div class="col-md-10" >		
				  <div class="thumbnail" >
					 <img alt="{{ department.photo.Caption }}"  src="{{ department.photo.get_blogsize_url }}">
				  </div>			
			</div>
			<div class="col-md-10" style="height:500px">
				<div class ="row infoblock">
					<h1> {{ department.name }} </h1>
				</div>
				<div class="row infoblock">
					<p>{{ department.description }}</p>
				</div>
			</div>
		</div>
{% endblock caruosel %}

{% block hello %} 
  <div class="container">
    {% autoescape off %}
      <h3> {{ department.content }}</h3>
    {% endautoescape %}
  </div> 
{% endblock hello %}

{% block parts %}

{% if projectsList %} 
  <div class="container">
    <div class="brand">
            <div class="container-fluid">
              <h1 class="brandHeader">Проекты</h1> 
            </div>
    </div>
<!-- Keep all page content within the page-content inset div! -->
  <div class="row gallery">
    {% for v in projectsList %}
      <div class="row">
          <hr>
          <div class="col-lg-7 col-md-5 col-sm-10 thumbnail">
            <a href={% url 'main:article' v.short_name %}><img alt="{{ v.photo.description }}" src="{{ v.photo.get_gallerysize_url }}" %}></a> 
          </div>
          <div class="col-lg-13 col-xs-15">
            <h1>{{ v.name }}</h1>
            {% autoescape off %}
              <p> {{ v.description }}</p>
            {% endautoescape %}
            <a href={% url 'main:project' v.short_name %} class="btn btn-info" role="button">Узнать больше</a>
          </div>
        </div>
    {% endfor %}
  </div>
 <hr>
</div>
  {% endif %}
 
{% endblock parts %} 	

{% block gallery %}
  {% if articlesList1%}

      <div class="brand">
            <div class="container-fluid">
              <h1 class="brandHeader">Статьи</h1> 
            </div>
        </div>

    {% for v in articlesList%}
            <div class="row">
              <hr>
                <div class="col-lg-8 col-md-5 col-sm-10 thumbnail">
                  <a href={% url 'main:article' v.short_name %}><img alt="{{ v.photo.description }}" src="{{ v.photo.get_blogsize_url }}" %}></a> 
                </div>
                <div class="col-lg-12 col-xs-15">
               <p><span class="glyphicon glyphicon-time"></span> {{ v.pub_date }} </p>
                  <h1>{{ v.title }}</h1>
                  {% autoescape off %}<p> {{ v.description }}</p>{% endautoescape %}
                  <a href={% url 'main:article' v.short_name %} class="btn btn-info" role="button">Узанать больше</a>
                </div>
            </div>
        {% endfor %}
  {% endif %}

  

{% endblock gallery %}



