{% extends "main/base.html" %}

{% load staticfiles %}

{% block caruosel %}
                <h1 class="brandHeader">Публикуемые темы</h1>
<div class="content" style="margin-top:0px;min-height:100%; margin-bottom:0px;">
<div class="offset1" style="width:85%">
                <div class="row">
                        <div class="col-md-15 offset1 publication">
                                 {% for i in theme %}
				 <a href="{{i.pk}}/"><div class = "col-md-5 offset1 btn btn-info">
                                        {{i.title}}
                                </div></a>
				{% endfor %}
                        </div>
                </div>
        </div>
</div>

{% endblock caruosel %}

